@charset "utf-8";

/*
*  Yukino Lab Pure Review Styles
*  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*  @ Author: @S2OUnicus, @S2OValor
*/

/*
*  # Z-Index 表
*  ‾‾‾‾‾‾‾‾‾‾‾‾
*    Z-Index レイヤー名 (ID)  用途
*  -------------------------------------------
*    10      yl-ly-1        （保留）
*    20     ［yl-ly-ground］ バックグラウンド用
*    30      yl-ly-3        （保留）
*    40      yl-ly-4        （保留）
*    50      yl-ly-5        （保留）
*    60     ［yl-ly-stage］  ステージパーツ用
*    70     ［yl-ly-cover］  ステージに浮かぶもの
*    80      yl-ly-8        （保留）
*    90      yl-ly-9        （保留）
*  -------------------------------------------
*/


/*
*  # 目次
*  ‾‾‾‾‾‾
*  -------------------------------------------
*  - :root                 属性変数
*  - *                     全称セレクター
*
*  - html, body            ページ本体
*  - a, div, scrollbar ..  基本タグ
*
*  - .uk-*                 Uikit 仕様再設定
*  - .no-select ..         通用仕様クラス
*
*  - #yl-layers            レイヤー容器
*  - #yl-ly-*              レイヤー本体
*
*
*  - aside                 モダル部分
*
*  - @media scn and (o:p)  モバイル仕様
*  --------------------------------------------
*/


/*
*  ## 属性変数
*  ‾‾‾‾‾‾‾‾‾‾‾
*  > 全称セレクター
*
*  @ セレクター
*    - :root
*  --------------------------------------------
*/

:root {
    --scrollbar-track-bg: rgba(0, 0, 0, 0.01);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.01);
}


/*
*  ## 全称セレクター
*  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*  > 全体適用仕様
*
*  @ セレクター
*    - *
*  --------------------------------------------
*/

* {
    /* 初期フォント：Zen Maru Gothic */
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;

    /* 文字をはっきりと書くように */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box!important;
}


/*
*  ## ページ本体
*  ‾‾‾‾‾‾‾‾‾‾‾‾
*  > ページ本体のスタイル
*
*  @ セレクター
*    - html, body
*  --------------------------------------------
*/

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;

    color: #5F5039;
    background-color: #faebd7;
}


/*
*  ## 基本タグ
*  ‾‾‾‾‾‾‾‾‾‾
*  > HTML 基本タグ
*
*  @ セレクター
*    - a
*    - div
*    - ::-webkit-scrollbar*
*  --------------------------------------------
*/

/* ===== 基本タグ ===== */

/* リンク */
a {
    color: #5d3b23!important;
}

a:hover {
    color: #5d3b23!important;
}

/* 一般容器 */
div {
    box-sizing: border-box!important;
    overflow: hidden;
}

/* スクロールバー */
::-webkit-scrollbar {
	height: 4px;
	width: 4px
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track-bg);
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.08);
	box-shadow: inset 0 0 5px rgba(0,0,0,.08)
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg);
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.2);
	box-shadow: inset 0 0 10px rgba(0,0,0,.2)
}

::-webkit-scrollbar-thumb:hover {
	background: #9fcff7
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-thumb-bg);
}


/*
*  ## Uikit 仕様再設定
*  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*  > Uikit 仕様の上書き設定
*
*  @ セレクター
*    - .uk-*
*  --------------------------------------------
*/

/* モダル */
.uk-modal-dialog {
    border-radius: .8rem;
}

.uk-modal-header {
    box-shadow: 0 .4rem 1rem .2rem rgba(0, 0, 0, .06);
}

.uk-modal-footer {
    box-shadow: 0 -.4rem 1rem .2rem rgba(0, 0, 0, .06);
}

/* ボタン */
.uk-button {
    border-radius: .4rem;
}


/*
*  ## 通用仕様クラス
*  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*  > クラス化専用仕様
*
*  @ セレクター
*    - .no-select
*  --------------------------------------------
*/

/* 選択禁止クラス */
.no-select {
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none!important;
}


/*
*  ## レイヤー容器
*  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*  > レイヤーたちの容器
*
*  @ セレクター
*    - #yl-layers
*  --------------------------------------------
*/

#yl-layers {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}


/*
*  ## レイヤー本体
*  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*  > Z-Index で区別したレイヤーたち
*
*  @ セレクター
*    - #yl-ly-*
*  --------------------------------------------
*/

#yl-ly-ground, #yl-ly-stage, #yl-ly-cover {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

#yl-ly-ground {
    z-index: 20;
}

#yl-ly-stage {
    z-index: 60;
}

#yl-ly-cover {
    z-index: 70;

    display: none;
}


/*
*  ## モダル部分
*  ‾‾‾‾‾‾‾‾‾‾‾‾
*  > ポップアップレイヤー
*
*  @ セレクター
*    - aside
*  --------------------------------------------
*/

aside {
}


/*
*  ## モバイル仕様
*  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*  > スマホなど 広さ＞高さ の仕様
*
*  @ セレクター
*  - @media scn and (o:p) {}
*  --------------------------------------------
*/

@media screen and (orientation: portrait) {
}
