@charset "utf-8";

header, nav, main, footer {
    width: 100%;
}

header {
    height: 2.4rem;
    background-color: #DEFCE8;

    font-size: 1.1rem;
}

nav {
    height: 5.3rem;
    background-color: #ffdead;
}

main {

}

footer {

}